/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-links li {
  display: inline;
  margin: 0 1rem;
}

.navbar .nav-links a {
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Hero Section */
.hero {
  background-image: url(../img/mainBg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 730px;
  text-align: center;
  padding: 0rem rem;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 150px 0px 0px 0px;
  color: #fff;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.hero-content .cta {
  padding: 0.8rem 1.5rem;
  background-color: #E2D4B7;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* About Section */
.about {
  padding: 4rem 2rem;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  width: auto;
  height: 1000px;
}

.about-content {
  flex: 1;
  margin-right: 2rem;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 20rem;
}

.about-images {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(2,400px);
  grid-template-columns: repeat(2,400px);
  margin-left: 2rem;
}

.image-offset {
  margin-top: 10rem;
}

.about-images img {
  width: 400px;
  height: 400px;
}

/* Services Section */
.services {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #E2D4B7;
  color: #333;
}

.services h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.services p {
  margin-bottom: 2rem;
}

.service-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  flex: 1 1 calc(33.33% - 1rem);
  background-color: #333;
  padding: 1.5rem;
  border: 1px solid #333;
  text-align: center;
  color: #fff;
}

.card img {
  max-width: 100%;
}

.card h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.service-button {
  margin-top: 2rem;
}

.service-button .learn-more {
  padding: 0.8rem 1.5rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Projects Section */
.projects h2,p {
  color: #fff;
}

.projects {
  padding: 4rem 2rem;
  background-color: #333;
  text-align: center;
}

.project-gallery {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  justify-content: center;
  height: auto;
}

.project-item {
  flex: 1 1 calc(33.33% - 1rem);
  background-color: #444;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.projects img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.project-name {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #2c2c2c;
  color: #fff;
}