/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem; /* Adjust padding for size */
    margin: 0; /* Remove any margin around the navbar */
    position: fixed; /* Fix the navbar to the top */
    top: 0; /* Align it with the top of the page */
    left: 0; /* Align it with the left edge of the page */
    width: 100%; /* Make the navbar span the full width of the page */
    background-color: #333; /* Navbar background */
    color: #fff; /* Navbar text color */
    z-index: 1000; /* Ensure the navbar stays above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem; /* Space between links */
}

.navbar .nav-links a {
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 5rem 2rem;
    background-image: url('../img/bg_project.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; /* Optional: Makes the background stay fixed */
    color: #333;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ffffff;
}

/* Projects Section */
.projects {
    flex-grow: 1;
    padding: 5rem 2rem;
    background-color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.project-card {
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-card img {
    width: 100%;
    height: 70%;
    display: block;
}

.card-content {
    padding: 1rem;
    text-align: center;
}

.card-content h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.card-content p {
    font-size: 1rem;
    color: #666;
}

/* Footer */
footer {
    margin: 0;
    padding: 1rem;
    background-color: #2c2c2c;
    color: #fff;
    text-align: center;
    flex-shrink: 0;
}
